/*CSS Reset - Start */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/*CSS Reset - End */
body {
	background:#0d0d0d;
}
.shadow {
	box-shadow:inset 0 1px 0 0 rgba(0,0,0,0.05), inset 0px 2px 3px 0px rgba(0,0,0,0.1);
}
/* ============= TYPOGRAPHY:START ============== */
/* === WEIGHT VALUES: START === 
Futura -- Light-300, Book-400, Bold-700
class to use: .tk-futura-pt
====== WEIGHT VALUES: END ===== */
h1, h2, h3, h4, h5, h6 {
	font-family:"futura-pt", Helvetica, Arial, sans-serif;
	margin:0;
}
h1 {font-size:40px;}
h2 {font-size:30px;}
h3 {font-size:20px;}
h4 {font-size:15px;}
h5 {font-size:10px;}
p {font:normal 16px/22px Helvetica, Arial, sans-serif; padding:10px;}
.hero {
	font-family:"futura-pt", Helvetica, Arial, sans-serif;
}
/* font awesome cdn - extra sizes */
.fa-6x {font-size:6em;}
.fa-7x {font-size:7em;}
.fa-8x {font-size:8em;}
.fa-9x {font-size:9em;}
.fa-10x {font-size:10em;}

/* ============= TYPOGRAPHY:END ================ */
/* ------------- WRAPPER:START ------------------ */
.wrapper {
	margin:0;
	padding:0;
	width:100%;
	background:#fff;
}
/* ------------- WRAPPER:END -------------------- */
/* ------------- HEADER:START ------------------ */
header {
	height:60px;
	background:#000;
	position:fixed;
	left:0;
	top:0;
	width:100%;
}
.logo {
	margin:10px 0 0 20px;
	float:left;
}
/* ------------- HEADER:END -------------------- */
/* ------------- NAV AREA: START ------------------ */
nav {
	padding:0; 
	margin:0;
	font-family: "futura-pt", Helvetica, Arial, sans-serif;
}
nav ul {
	list-style: none;
	margin-left: auto;
	margin-right:auto;
	padding:0;
	text-align: center;
	width: 630px;
}
nav li {
	display:inline;
	float:left;
	padding:0 10px;
}
nav a:link {
	color:#fff; 
	display: block;
	height:20px;
	margin:10px 0 0 0;
	padding:10px 20px;
	text-decoration: none;
}
nav a:visited, nav a:active {color:#eee;}
nav a:hover {
	color:#ccc; 
	background-color:#333;
	border-radius: 5px;
}


/* ------------- NAV AREA: END ------------------ */
/* ------------- HERO:START ------------------ */
.heroWrap {
	background:url(../images/hdr_wood.jpg) repeat-x;
	width:100%;
}
.hero {
	height:342px;
	margin-top:59px;
}
.heroTextArea {
	text-align: left;
	padding:20px;
	margin:0;
	background:url(../images/hero_text_bgimg.png);
}
.heroTextArea h1 {
	text-transform: uppercase;
	font-size:80px;
	color:#fff;
	font-weight: 400;
}
.heroTextArea h3 {
	font-size:50px;
	color:#fff;
	font-weight: 300;
	padding-left:44px;
}
.imac {
	vertical-align: bottom;
	text-align:right;
	margin:26px 0 0 0;
}
/* ------------- HERO:END ------------------ */
/* ------------- CONTENT:START ------------- */
.contentSection {
	padding:20px 0;
}
.contentSection h1 {
	padding-bottom:10px;
}
.contentSection p {
	width:80%;
}
.contentSection img {
	padding:20px 0;
}

/* ------------- CONTENT:END --------------- */
/* ------------- FOOTER:START -------------- */
.footerWrap {
	background:#000;
}
footer {
	text-align: center;
	min-height: 200px;
}
.copyright {
	color:#ff5a00;
	font:normal 14px/22px "futura-pt", Helvetica, Arial, sans-serif;
	padding:20px 0;
}
footer ul {
	list-style:none;
	text-align: left;
	margin:0 50px;
}
footer ul li {
	padding: 4px 10px;
	display:inline;
}
footer ul li a:link, footer ul li a:visited {
	color:#eee;
	text-decoration: none;
}
footer ul li a:hover, footer ul li a:active {
	color:#ff5a00;
}
footer h2 {
	text-align:left;
	color:#ff5a00;
	padding:0 0 10px 40px;
}

/* ------------- FOOTER:END ------------------ */



